html, body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    border: 2px solid black;
}
button{
    position:fixed;
    border: none;
    padding:12px 24px;
    font-size:16px;
    background: #2a96ae;
    color:white;
    transition: transform .5s ease;
    border-radius:12px;
}
button:hover{
    cursor: pointer;
    transform: scale(1.08) translateY(-2px);
}
button.active{
    display:none;
}